nav {
  display: flex;
  font-size: 1.2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  select {
    background: transparent;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
  }
  option {
    color: #000;
  }
}
